* 
{
    /* Normalize */
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(190, 45, 45);
    padding: 3rem;
}

p
{
    padding-left: 10%;
    padding-right:10%;
}

.header
{
    height: 95vh;
    background-image: linear-gradient(
         to right bottom,
         rgba(255, 255, 255, 0.1),
         rgba(255, 255, 255, 0.1)),
    url(../img/Compressed_KU_Campus.jpg);
    background-size: cover; 
    background-position: top; /* Fits elements upon resizing */
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /* Starts at top left corner and moves clockwise */
}

.logo-box
{
    position: absolute;
    top: 35px;
    left: 35px;
    /*position: fixed;*/
}

.Logo
{
    height: 70px;
}


.row:before, 
.row:after 
{
    content:"";
    display: table;
    clear: both;
}


.textBox
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Shifts to the middle of the text instead of the top right corner of the text */
    text-align: center;
    
}


.headingPrimary
{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px #000;
}

.headingPrimaryMain
{
    display: block; /* Block level so that it occupies the whole horizontal area */
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;

    padding: 10px;
}

.headingPrimarySub
{
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 15px;
    animation: moveInRight 1s ease-out;
    margin-top: -20px;
}

/* Button */
.btn:link,
btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px; /* Set the circular shape of the button */
    transition: all 0.2s;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* x, y, blurr, color */
    position: relative;

    margin-left: 10px;
    margin-right: 10px;
}

.btn-white
{
    background-color: rgb(255, 255, 255);
    color: #777;
}

.btn:hover
{
    transform: translateY(-3px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.4) /* x, y, blurr, color */
}

.btn:active
{
    transform: translateY(-1px); /* In relation to initial state */
    box-shadow: 0 5px 10px rgba(0,0,0,0.4) /* x, y, blurr, color */
}

.btn::after
{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*Makes button be behind original one */
    transition: all 0.4s;
}

.btn-white::after
{
    background-color: #FFF;
}

.btn:hover::after /* Show a bigger button that fades away */
{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated
{
    animation: moveInBottom 0.5s ease-out 0.75s; /* Last one is animation delay */
    animation-fill-mode: backwards; /* 0% in moveInBottom keyframe will be applied before animation starts */
}

/* Menu Bar */

#menuBarIndex,
#menuBarIndex ul
{
    list-style: none;
}

#menuBarIndex,
#menuBarIndex li
{
    list-style: none;
}

.navBar 
{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
}


.navBar :hover
{
    /*TODO:  nav bar to extend on hover not specific buttons*/
    /*TODO:  nav bar padding right side*/
    height: 100px;
    display: block;

}
  
.navBar a 
{
    float: left;
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    border-top: 6px solid black;

}
  
.navBar a:hover 
{
    background-color: black;
    color: white;
    border-top: 6px solid white;
    /*TODO:  Side borders instead of top for drop down menu*/

}

.active 
{
    color: purple;
}
  
.navBar .icon 
{
    display: none;
}
  
@media screen and (max-width: 600px) 
{
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon 
    {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) 
{
    .navBar.responsive {position: relative;}
    .navBar.responsive .icon 
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a 
    {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Animations */
@keyframes moveInLeft 
{
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%
    {
        transform: translateX(10px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight
{
    0%
    {
        opacity: 0;
        transform: translateX(100px);
    }
    80%
    {
        transform: translateX(-10px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom
{
    0%
    {
        opacity: 0;
        transform: translateY(30px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End of animations */

.informationBoxes
{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    text-align: center;
    color: black;
    background-color: #f3f3fc;
    padding: 25rem 0 0 0;
    margin-top: -25vh;
}

.infoBox1
{
    height: 95vh;
}

.infoBox2 
{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(217, 168, 160, 0.8), rgba(210, 213, 221, 0.8));
    background-size: auto;
    transform: skewY(-7deg);
    /* height: 170vh; */
    margin-top: -10rem;
 }
.infoBox2 > * 
{
    transform: skewY(7deg); /* shifts text to be normal */
}

.infoBox3
{
    padding: 25rem 0 15rem 0;
    height: 105vh;
}

.infoBox4
{
    background: #858481;
    height: 80vh;
}

.thumbnail
{
    width: 60%;
}

.projectLeft
{
    margin-left: 37%;
}

@media (max-width: 991px)
{
    .thumbnail
    {
        margin: auto;
    }
}



/* Carousel */
.carousel 
{
    width:80%;
    height:25%;
    margin:0 auto; /* center your carousel if other than 100% */ 
}


/* Grid System */
/* .container 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    
}
.containerMain
{
    padding: 25px;
    margin-top: 0px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100, auto);

    height: 95vh;
    background-size: cover; 
    background-position: top;
    position: relative;
} 
.textBox1
{
    margin-top: 35px;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    color: black;
    padding: 20px;
    margin-bottom: -311px;

    background: orange;
}
.textBox2 
{
    grid-column: 1/4;
    grid-row: 2;
    color: black;
    text-align: center;
    padding: 20px;

    background: purple;
}
.textBox3 
{ 
    grid-column: 1/4;
    grid-row: 3;
    color: black;
    text-align: center;
    padding: 20px;

    background: green;
}
.textBox4 
{ 
    grid-column: 1/4;
    grid-row: 4;
    text-align: center;
    color: black;
    padding: 20px;

    background: orange;
}

.textBox5 
{
    grid-column: 1/4;
    grid-row: 5;
    color: black;
    text-align: center;
    padding: 20px;

    background: purple;
} */



/*
Color Scheme:
Light Gray: #858481
Peach: #d9a8a0
White Gray: #f3f3fc
Dark Gray: #485053
Plum: #4b202c
*/