*
{
    /* Normalize */
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/*

IMPORTANT
Color Scheme:

Rich Black: #010E1F rgba(1, 14, 31, 1)
Columbia Blue: #C7DCDD rgba(199, 220, 221, 1)
Cambridge Blue: #9BC6BF rgba(155, 198, 191, 1)
Desaturated Cyan: #6A9A9E rgba(106, 154, 158, 1)
Deep Space Sparkle: #325C6C rgba(50, 92, 108, 1)
Deep Koamaru: #28345A rgba(40, 52, 90, 1)

*/

body
{
    font-family: "Roboto" !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #010E1F;
    padding: 3rem;
}

p
{
    padding-left: 10%;
    padding-right:10%;
    color: #010E1F;
}

h1 strong
{
    font-family: "SIMPLIFICA Typeface" !important;
    color: #28345A; 
    font-weight:bold;
}

h3 strong
{
    font-family: "SIMPLIFICA Typeface" !important;
    color: #325C6C;
    font-weight:bold;
}

/* Start of header */
.header
{
    height: 95vh;
    background-image: linear-gradient(
         to right bottom,
         rgba(155, 198, 191, 0.4),
         rgba(50, 92, 108, 0.9)),
    url(../img/Compressed_KU_Campus.jpg);
    background-size: cover;
    background-position: top; /* Fits elements upon resizing */
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /* Starts at top left corner and moves clockwise */
}


.logo-box
{
    padding: 20px !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    float: left !important;
    width: 6vw;
    margin-left: 2%;
}

.Logo
{
  display: block;
  margin-left: 25%;
  margin-top: 25%;
  width: 6vw;
}


.row:before,
.row:after
{
    margin-top: 5%;
    content:"";
    display: table;
    clear: both;
}


.textBox
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Shifts to the middle of the text instead of the top right corner of the text */
    text-align: center;

}


.headingPrimary
{
    color: #fff;
    text-transform: uppercase;
    font-family: "SIMPLIFICA Typeface" !important;
    /* text shadow adapted from http://markdotto.com/playground/3d-text/ 
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    */
}

.headingPrimaryMain
{
    
    display: block; /* Block level so that it occupies the whole horizontal area */
    font-size: 180px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 2s ease-out;

    padding: 15px;
}

.headingPrimarySub
{
    display: block;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 5px;
    animation: moveInRight 2s ease-out;
    margin-top: -20px;
}
/* End of Header */

/* Button */
.btn:link,
btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px; /* Set the circular shape of the button */
    transition: all 0.2s;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* x, y, blurr, color */
    position: relative;

    margin-left: 10px;
    margin-right: 10px;
}

.btn-white
{
    background-color: rgb(255, 255, 255);
    color: #777;
}

.btn:hover
{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4) /* x, y, blurr, color */
}

.btn:active
{
    transform: translateY(-1px); /* In relation to initial state */
    box-shadow: 0 5px 10px rgba(0,0,0,0.4) /* x, y, blurr, color */
}

.btn::after
{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*Makes button be behind original one */
    transition: all 0.4s;
}

.btn-white::after
{
    background-color: #FFF;
}

.btn:hover::after /* Show a bigger button that fades away */
{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated
{
    animation: moveInBottom 0.5s ease-out 0.75s; /* Last one is animation delay */
    animation-fill-mode: backwards; /* 0% in moveInBottom keyframe will be applied before animation starts */
}

/* Menu Bar */

#menuBarIndex,
#menuBarIndex ul
{
    list-style: none;
}

#menuBarIndex,
#menuBarIndex li
{
    list-style: none;
}


/* Nav Bar */
@media screen and (max-width: 600px)
{
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon
    {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px)
{
    .navBar.responsive {position: relative;}
    .navBar.responsive .icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a
    {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Animations */
@keyframes moveInLeft
{
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%
    {
        transform: translateX(10px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight
{
    0%
    {
        opacity: 0;
        transform: translateX(100px);
    }
    80%
    {
        transform: translateX(-10px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom
{
    0%
    {
        opacity: 0;
        transform: translateY(30px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End of animations */

.informationBoxes
{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    text-align: center;
    background-color: #f3f3fc;
    padding: 25rem 0 0 0;
    margin-top: -25vh;
}

.infoBox1
{
    /* height: 95vh; */
    background-size: auto;
    padding-bottom: 20rem;
}

.infoBox2
{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(155, 198, 191, 0.4),
    rgba(50, 92, 108, 0.9));
    background-size: auto;
    transform: skewY(-7deg);
    /* height: 170vh; */
    margin-top: -10rem;
 }
.infoBox2 > *
{
    transform: skewY(7deg); /* shifts text to be normal */
}

.infoBox3
{
    padding: 25rem 0 15rem 0;
    background-size: auto;
}

.infoBox4
{
    position: relative;
    padding: 5rem 0; 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.Last
{
    position: relative;
    text-align: center;
    padding: 0%;
    height: 40%;
    padding: 2% 0; 
}

/* Project links in infoBox 2 */

.projectsIconLeft
{
    position: absolute;
    top: 0.5rem;
    right: 3.8rem;
    background-color: rgba(199, 220, 221, 0.2);
    padding: 2.5%;
}

.projectsIconRight
{
    position: absolute;
    top: 2.3%;
    right: 41.3%;
    background-color: rgba(199, 220, 221, 0.2);
    padding: 2.5%;
}

.projectList
{
    width: 60%;
}

.projectLeft
{
    margin-left: 37%;
}

.projectDescription
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: -5%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    text-align: center;
    font-size: 16px;
}

.projectDescriptionLayerLeft
{
    position: absolute;
    top: 0;
    bottom: 9%;
    left: 37.5%;
    right: 4.9%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(1, 14, 31, 0.9);
}

.projectDescriptionLayerRight
{
    position: absolute;
    top: 0;
    bottom: 9.2%;
    left: 2.4%;
    right: 40.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(1, 14, 31, 0.9);
}

.projectList:hover .projectDescriptionLayerLeft
{
    opacity: 0.9;
}

.projectList:hover .projectDescriptionLayerRight
{
    opacity: 0.9;
}

.projectList:hover .projectTitle
{
    opacity: 0.9;
    animation: moveInLeft 0.4s ease-out;
    left: 10%;
}

.projectList:hover .projectDescription
{
    animation: moveInRight 0.4s ease-out; /* Last one is animation delay */
    animation-fill-mode: backwards;
}

.projectTitle
{
    color: #C7DCDD;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-left: 6%;
    width: 50%;
    text-align: center;
    margin-bottom: -5%;
    font-weight: 700;
}

.lineBottom
{
    padding-bottom: 10px;
    border-bottom: 2px solid #C7DCDD; /* whichever color you prefer */
    animation: none;
}

.projectAnchor
{
    z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

@media (max-width: 991px) /* Optimize for medium screens */
{
    .projectsIcon
    {
        position: absolute;
        top: 1.2%;
        right: 11.8%;
        background-color: gray;
        padding: 2.5%;
    }

    .projectList
    {
        margin: auto;
        width: 80%;
    }

    .projectDescriptionLayerLeft
    {
        position: absolute;
        top: 0;
        bottom: 6.2%;
        left: 11.8%;
        right: 11.8%;
        opacity: 0;
        background-color: rgb(154, 155, 153);
    }

    .projectDescriptionLayerRight
    {
        position: absolute;
        top: 0;
        bottom: 6.2%;
        left: 11.8%;
        right: 11.8%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(154, 155, 153);
    }

    .projectList:hover .projectDescriptionLayerLeft
    {
        opacity: 0.9;
        transition: .5s ease;
    }

    .projectList:hover .projectDescriptionLayerRight
    {
        opacity: 0.9;
        transition: .5s ease;
    }

    .lineBottom
    {
        border-bottom: 2px solid white;
    }
}

@media (max-width: 767px) /* Optimize for tablet screens */
{
    .projectsIcon
    {
        position: absolute;
        top: 1.5%;
        right: 12.4%;
        background-color: gray;
        padding: 2.5%;
    }
}

@media (max-width: 479px)
{
    .projectsIcon
    {
        top: 2.5%;
        right: 13.8%;
    }
}
/* End of project links */

/* Carousel */
.carousel
{
    width: 50%;
    height: 50%;
    margin:0 auto; /* center your carousel if other than 100% */
}

.container .carousel-control
{
    position: absolute;
    top: 65%;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: auto;
    color: #fff;
    text-align: center;
    opacity: 1;
    text-shadow: none;
}

.container .carousel-indicators
{
    bottom: -50px;
}
.container .carousel-indicators li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #010E1F;
    border-radius: 50%;
}

.container .carousel-indicators .active
{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #6A9A9E;
}
.container .carousel-caption
{
    position: absolute;
    top: 65%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background: rgba(199, 220, 221, 0.7);
}

.carousel h3
{
    font-family: "SIMPLIFICA Typeface" !important;
    color: #325C6C;
    font-weight:bold;
}
/* End Carousel */

/* Info Sessions Area */
.tutorialRow .col-1-of-3 
{
    width: calc((100% - 2 * 6rem) / 3);
} 

.leftInfoSession
{
    margin-left: 6%;
}

.rightInfoSession
{
    margin-right: -6%;
}

.card 
{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; 
}
.card__side 
{
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
 }
.card__side--front 
{
    background-color: #fff;
}
.card__side--back 
{
    transform: rotateY(180deg); 
}
.card__side--back-1 
{
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730); 
}
.card__side--back-2 
{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485); 
}
.card__side--back-3 
{
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa); 
}
.card:hover .card__side--front 
{
    transform: rotateY(-180deg); 
}
.card:hover .card__side--back 
{
    transform: rotateY(0); 
}
.card__picture 
{
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
}
.card__picture--1 
{
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(https://blogsimages.adobe.com/creativecloud/files/2016/09/code-10.png); 
}
.card__picture--2 
{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(https://getbootstrap.com/assets/img/bootstrap-stack.png);
}
.card__picture--3 
{
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(http://digital-adda.com/wp-content/uploads/2015/06/database_development-1.png);
}
.card__heading 
{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; 
}
.card__heading-span 
{
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; 
}
.card__heading-span--1 
{
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 
{
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); 
}
.card__heading-span--3 
{
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); 
}
.card__details
{
    padding: 3rem; 
}
.card__details ul 
{
    list-style: none;
    width: 80%;
    margin: 0 auto; 
}
.card__details ul li 
{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem; 
}
.card__details ul li:not(:last-child) 
{
    border-bottom: 1px solid #eee;
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; 
}
.card__price-box 
{
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}
.card__price-only 
{
    font-size: 1.4rem;
    text-transform: uppercase; 
}
.card__price-value 
{
    font-size: 6rem;
    font-weight: 100; 
}

.u-center-text {
    text-align: center !important; }

.u-margin-top-huge {
    margin-top: 10rem !important; }


.tutorialRow {
    max-width: 114rem;
    margin: 0 auto; 
}
.tutorialRow:not(:last-child) 
{
    margin-bottom: 8rem;
}
.tutorialRow::after 
{
    content: "";
    display: table;
    clear: both; 
}
.tutorialRow [class^="col-"] 
{
    float: left;
}
.tutorialRow [class^="col-"]:not(:last-child) 
{
    margin-right: 6rem; 
}
.tutorialRow .col-1-of-2 
{
    width: calc((100% - 6rem) / 2);
}
.tutorialRow .col-1-of-3 
{
    width: calc((100% - 2 * 6rem) / 3); 
}
.tutorialRow .col-2-of-3 
{
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.tutorialRow .col-1-of-4 
{
    width: calc((100% - 3 * 6rem) / 4); 
}
.tutorialRow .col-2-of-4 
{
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); 
}
.tutorialRow .col-3-of-4 
{
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); 
}


/* Contact Section Content*/
.bg-video 
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .30;
    overflow: hidden;
    
}
.bg-video__content 
{
    
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.contactInfoHead
{
    text-align: center !important; 
}

.contactInfo 
{
    height: 20%;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 2rem;
    font-size: 1.6rem;
}

.contactInfoText
{
    text-align: center !important; 
}
/* End Contact Section Content*/